# Use the default value for new product.
on property:ro.miui.customized.region=es_vodafone && property:ro.miui.customized_clientid=2
    setprop ro.com.google.clientidbase.ms android-vf-{country}-revc
